
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(28, 28, 28);
}



.splashCont {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center;
    height: 100%; /*90%;*/
    width: 100%;
    background-image: url('./mainCapsule_layers.png');
    background-size: cover;
    background-clip: content-box;
    
    box-shadow: 100px 100px 226px rgb(28, 28, 28) inset,-100px -100px 220px rgb(28, 28, 28) inset;
}

.splashText {
    margin-top: 0%;
    font-size: 4.5rem;
    text-align: center;
    color: rgb(46, 46, 46);
}

.smallSplash {
    margin-top: -2%;
    font-size: 2rem;
    text-align: center;
    color: rgb(46, 46, 46);
}

.buttonContainer {
    text-align: center;
}

.optionButton {
    margin-left: 0.5%;
    margin-right: 0.5%;
    transition: all .2s ease-out;
    min-width: 9%;
    font-size: 1.5rem;
    background-color: rgba(167, 167, 167, 0.418);
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.optionButton:hover {
    margin-left: 1%;
    margin-right: 1%;
    scale: 130%;
}


.header {    
    z-index:99; /* ewwwww */
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2929299c;
    color: #fff;
    
    padding-left: 1rem;

    box-sizing: border-box; /* Add this line */
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.clickableHeaderThing {
    transition: all .2s ease-out;
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    text-decoration: none;
}

.clickableHeaderThing:hover {
    color: #e1e1e1;
    scale: 130%;
}